################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/SlenderMan/SlenderMan/.vs/SlenderMan/v15
/SlenderMan/SlenderMan/Debug
/SlenderMan/SlenderMan/SlenderMan/x64/Debug
/SlenderMan/SlenderMan/x64/Debug
*.db
*.opendb
